# PostgreSQL Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123456
POSTGRES_DB=lakehouse

# MinIO S3 Credentials
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Iceberg Catalog Connections (Internal Docker Network)
CATALOG_URI=http://iceberg-rest:8181
S3_ENDPOINT=http://minio:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin

# Airflow Webserver Settings (Must match across scheduler and webserver)
AIRFLOW__WEBSERVER__SECRET_KEY=supersecretkey1234567890abcdef

# Docker Integration for Airflow DockerOperator
SPARK_IMAGE_NAME=lakehouse-spark:latest

# This path is used by the Airflow Scheduler to mount directories into the Spark Docker container.
HOST_PROJECT_PATH=your_path
